build/
site/
notes/
*.egg-info/
dist/
.venv/
.idea/
__pycache__/
*.py[cod]
coverage.xml
.cache/mkdocs-jupyter/
htmlcov/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
RELEASE_NOTES.md
.kpnn2.code-workspace
.cursor/
.cursorignore
